@font-face {
    font-family: 'SangBleu Sunrise';
    src: url('SangBleuSunrise-Regular.woff2') format('woff2'),
        url('SangBleuSunrise-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

